<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href="/quienes_somos">Quiénes Somos</a></li>
                <li><a href="/servicios">Servicios</a></li>
                <li><a href="/noticias">Noticias</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; InnovaDrone. Todos los derechos reservados.</p>
    </footer>
</body>
</html>